/*
https://ionicframework.com/docs/theming/themes
https://ionicframework.com/docs/theming/colors
*/
:root {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;
    --ion-text-color: #000000;
    --ion-text-color-rgb: 0,0,0;
    --ion-tab-bar-background: #0059B3;
    --ion-tab-bar-background-focused: #004080;
    --ion-tab-bar-color: #ffffff;
    --ion-tab-bar-color-selected: #ffffff;	

    /** primary **/
    --ion-color-primary: #0059b3;
    --ion-color-primary-rgb: 0, 89, 179;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #0059b3;
    --ion-color-primary-tint: #0059b3;

    /** secondary **/
    --ion-color-secondary: #004080;
    --ion-color-secondary-rgb: 0, 64, 128;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #004080;
    --ion-color-secondary-tint: #004080;

    /** success **/
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** danger **/
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;
    
    /* custom colors */
    --main-background-color: #ffffff;
    --ion-text-background: #ffffff;
    --ion-tab-bar-background-selected: #004080;
    --ion-header-background: #004080;
    --ion-header-color: #ffffff;
    --ion-header-icon: #ffffff;
    --ion-header-menu-border: #004080;
    --ion-header-menu-color: #000000;
    --ion-header-menu-background: #ffffff;
    --ion-header-menu-hover-color: #ffffff;
    --ion-header-menu-hover-background: #0059b3;
    --ion-footer-background: #004080;
    --ion-footer-color: #ffffff;
    --ion-card-background: #ffffff;
    --ion-card-title-color: #000000;
}

body.dark {
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    /* custom colors */
    --main-background-color: #121212;
    --ion-text-background: #121212;
    --ion-header-menu-border: #004080;
    --ion-header-menu-color: #ffffff;
    --ion-header-menu-background: #000000;
    --ion-header-menu-hover-color: #ffffff;
    --ion-header-menu-hover-background: #0059b3;
    --ion-card-background: #333333;
    --ion-card-title-color: #ffffff;
}